<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Questionnaire Menu</h2><br>
        <div class="col-xs-12 col-sm-6">
          <button type="button" class="btn btn-maroon" style="width:100%; margin-bottom:20px; padding-bottom:20px;" ng-click="goToCreate()"><br>Create a Questionnaire<br><br><i class="fa fa-plus-square-o fa-5x"></i><br></button>
          <button type="button" class="btn btn-maroon col-xs-12 col-sm-6" style="width:100%; margin-bottom:20px; padding-bottom:20px;" ng-click="goToQuestionBank()"><br>View/Edit Question Bank<br><br><i class="fa fa-list fa-5x"></i><br></button>
        </div>
        <div class="col-xs-12 col-sm-6">
          <button type="button" class="btn btn-maroon" style="width:100%; margin-bottom:20px; padding-bottom:20px;" ng-click="goToRUD()"><br>View/Update/Delete Questionnaires<br><br><i class="fa fa-pencil-square-o fa-5x"></i><br></button>
          <button type="button" class="btn btn-maroon col-xs-12 col-sm-6" style="width:100%; margin-bottom:20px; padding-bottom:20px;" ng-click="goToPatients()"><br>View Patients' Completed Questionnaires<br><br><i class="fa fa-check-square-o fa-5x"></i><br></button>
        </div>
      </div>
    </div>
  </div>
</div>
